* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #272438;
    border: 1px solid red;
}
main {
    border: 1px solid white;
    width: 150px;
    padding: 1px ;
    color: white;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}
.head p {
    font-size: 8px;
    font-family: sans-serif;
}
.head button {
    border: none;
    background: white;
}
.result {
    margin-top: 50px;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 4px;
}
.result p {
    font-size: 12px;
    font-family: sans-serif;
}
.keyboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: cener;
    gap: 2px 2px;
}
.keyboard button {
    height: 30px;
    width: 35px;
    color: #ffffff;
    background: #433E62;
    text-align: center;
    border: none;
}
.dark-mode {
    background-color: white;
    color: #433E62;
    border: 1px solid #433E62 ;
}
